ion-header {
  ion-toolbar{
    --min-height: 150px; //=> tamanho minimo da altura da toolbar

    ion-title{
      align-items: flex-end;//=> alinha os itensque estao dentro dessa tag no final (mais embaixo)
      
      img {
        width: 100px;
        vertical-align: middle; //=> alinhamento vertical no meio
        margin-right: 10px; //=> margin entre logo e nome
      }

      span{
        font-size: 18px;        
      }

      ion-button{
        display: block; //=> o button vai ocupar uma linha inteira
      }
    }
  }
}

ion-content {
  .background{
    opacity: 0; // para deixar o fundo transparente para poder fazer a animacao
    //do nubank
    

    .bank-information{
      .qrCode{
        width: 100px;
        margin: 16px auto;
        display: block;
      }

      span{
        margin: 5px 0;
        font-size: 14px;
        display:block;
      }
    }

    ion-list {
      margin-top: 33px;
      background: transparent;
      

      ion-item {
        color: #fff;
        --background: transparent;  
        --detail-icon-opacity: 1;  
        border-bottom: 0.55px solid rgba(255, 255, 255, 0.7);            

        &:first-of-type{
          border-top: 0.55px solid rgba(255, 255, 255, 0.7);          
        } 
        
        ion-icon{
          color: #fff;
        }
      }
    }

    .logout{
      margin-top: 32px;
      margin-bottom: 100px;
    }
  }

  .blocks {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //overflow-y: scroll;
    z-index: 999;

    &.fixed {
      position: fixed;
      top: 110px;
      overflow-y: hidden;
    }
  }

  .blocks{
    ion-card {
      .cash {
        span{
          &.value {
            font-size: 30px;
            display: block;
          }

          &.blue {
            color: #0ab9cd
          }

          &.green {
            color: #94c22b
          }
        }
      }

      .footer{
        background: #f4f5f8;
      }

      .title {
        font-size: 20px;
      }

      .gift {
        font-size: 30px;
      }
      
    }
  }
}

ion-footer {
  &.hidden {
    height: 0;

    ion-slides {
      opacity: 0
    }
  }

  ion-slide {
    .container {
      width: 100%;
      height: 100px;
      background: var(--ion-color-primary-tint);
      padding: 10px;
      margin: 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ion-icon {
        font-size: 24px
      }

      span {
        font-size: 16px;
      }
    }
  }
}

.opacity-transition {
  transition: opacity 0.8s;
}